.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  transition: linear 0.5s;
}

.no_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0);
  transition: linear 0.5s;
}

.modal {
  position: fixed;
  background: aliceblue;
  top: 20vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  padding: 50px;
  border-radius: 50px;
}

.drawer {
  position: fixed;
  background: aliceblue;
  text-align: end;
  right: -30%;
  width: 30%;
  z-index: 100;
  padding: 5%;
}

.active {
  transform: translate(-100%);
  transition: transform 0.5s;
}

.inactive {
  transform: translate(100%);
  transition: transform 0.5s;
}

input {
  margin-left: 10px;
}

form div {
  padding: 2px 0;
}
